html {
  background: #fa8072;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
}
#spider-hermit {
  cursor: alias;
}
.hello {
  -webkit-align-content: center;
  -webkit-align-items: center;
  -webkit-flex-flow: column nowrap;
  -webkit-justify-content: center;
  background: #fa8072;
  align-content: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}
.there {
  -webkit-align-content: center;
  -webkit-align-items: center;
  -webkit-align-self: center;
  -webkit-justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  display: -webkit-flex;
  display: flex;
  height: 95%;
  justify-content: center;
  max-height: 95%;
  min-height: 95%;
}
.friend {
  -webkit-align-self: center;
  align-self: center;
}
